@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --dark: #363949;
    --dark-blue: #364670;
    --light: #F0F5FD;
    --white: #FFF;
    --grey: #999;
    --blue: #1D92F1;
    --light-blue: #DDEFFD;
    --red: #D32F2F;
    --light-red: #FECDD3;
    --dark-green: #32a652;
    --green: #3BC963;
    --light-green: #E2F7E8;
    --yellow: #FFD12C;
    --light-yellow: #FFF8DF;
    --dark-yellow: #FFC107;
    --blue-btn: #1976D2;
    --dark-blue-btn: #0D47A1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--light);
 
}

/* ==========================================================
                        HEADER
=========================================================== */

.header{
    height: 100px;
}

.header .img-custom{
    width: 190px;
}

.header .btn-login{
    gap: 20px;
}

.header .btn-login p{
    font-weight: 600;
    font-size: 14px;
}

.header .btn-primary{
    background: var(--blue-btn);
    font-weight: 600;
    box-shadow: 0px 21px 61px -12px var(--blue);
    border-radius: 10px;
}

.header .btn-primary:hover{
    background: var(--dark-blue-btn);
}

/* ==========================================================
                        MAIN
=========================================================== */

.main{
    background-image: linear-gradient(90deg, rgb(193, 193, 193),rgb(107, 107, 107)),linear-gradient(157.5deg, rgb(0, 165, 230) 0%, rgb(0, 165, 230) 39%,rgb(17, 149, 218) 39%, rgb(17, 149, 218) 56%,rgb(35, 132, 206) 56%, rgb(35, 132, 206) 60%,rgb(52, 116, 195) 60%, rgb(52, 116, 195) 68%,rgb(70, 99, 183) 68%, rgb(70, 99, 183) 86%,rgb(87, 83, 171) 86%, rgb(87, 83, 171) 100%),linear-gradient(135deg, rgb(0, 165, 230) 0%, rgb(0, 165, 230) 39%,rgb(17, 149, 218) 39%, rgb(17, 149, 218) 56%,rgb(35, 132, 206) 56%, rgb(35, 132, 206) 60%,rgb(52, 116, 195) 60%, rgb(52, 116, 195) 68%,rgb(70, 99, 183) 68%, rgb(70, 99, 183) 86%,rgb(87, 83, 171) 86%, rgb(87, 83, 171) 100%); background-blend-mode:overlay,overlay,normal;
    height: calc(100% - 0vh);   
}

.main .full-register{
    background: var(--white);
    border-radius: 12px;
    width: 700px;
}

.main .full-register h2{
    font-weight: 700;
    font-size: 35px;
}

.main .full-register .register-info .form-label{
    margin-bottom: 0;
}

.main .full-register .register-info .border-custom{
    border: 2px solid #d6d9de;
}

textarea{
    height: 40px;
    max-height: 80px;
}

.main .full-register .btn-primary{
    background: var(--blue-btn);
    font-weight: 600;
    border-radius: 10px;
}

.main .full-register .btn-primary:hover{
    background: var(--dark-blue-btn);
}

.text-danger{
	font-weight: bold;
	font-size: 14px;
}

span{
    color: var(--red);
    font-weight: bold;
}